{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <title>{% block title %}{% trans "NatureBank" %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {% block basecss %}
  <link media="screen" href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet">
  <link media="screen" href="{{ STATIC_URL }}css/tablesorter.css" type="text/css" rel="stylesheet">
  <link media="print" href="{{ STATIC_URL }}css/print.css" type="text/css" rel="stylesheet">
  {% endblock %}
  {% block shortcut_icon %}{% endblock %}
  {% block extracss %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<body onload="init()">
<div id="wrapper">
  <div id="header">

    <div class="simlink">
    <a href="/" title="{% trans "Αρχική σελίδα" %}">
    {% block logo %}<img src="{{ STATIC_URL  }}images/naturebank_logo_small.png" id="topbanner">{% endblock %}</a>
    </div>

    <div id="toplinkcontainer">
          <div style="float:left;">
            <a href="/biotopes/?sort=site_code&dir=asc" class="menu" style="display: block;" title="Αναζήτηση βιοτόπων και τόπων" id="biotopes-ddheader" onmouseover="ddMenu('biotopes',1)" onmouseout="ddMenu('biotopes',-1)">Τόποι</a>
            <dl class="dropdown">
              <dd id="biotopes-ddcontent" onmouseover="cancelHide('biotopes')" onmouseout="ddMenu('biotopes',-1)">
                  <ul>
                      <li><a href="/biotopes/?category=1" class="dropdown">Τοπία Ιδιαίτερου Φυσικού Κάλλους (ΤΙΦΚ)</a></li>
                      <li><a href="/biotopes/?category=6" class="dropdown">Άλλα τοπία</a></li>
                      <li><a href="/biotopes/?category=4" class="dropdown">Βιότοποι Corine</a></li>
                      <li><a href="/biotopes/?category=2" class="dropdown">Βιότοποι NATURA</a></li>
                      <li><a href="/biotopes/?category=3" class="dropdown">Άλλοι βιότοποι</a></li>
                  </ul>
              </dd>
            </dl>
          </div>
          <div style="float:left;">
            <a href="/species/" class="menu" style="display: block; margin-left: 0.7em;" title="Αναζήτηση ειδών πανίδας και χλωρίδας" id="species-ddheader" onmouseover="ddMenu('species',1)" onmouseout="ddMenu('species',-1)">Είδη</a>
            <dl class="dropdown">
              <dd id="species-ddcontent" onmouseover="cancelHide('species')" onmouseout="ddMenu('species',-1)">
                  <ul>
                      <li><a href="/species/?species_category=4" class="dropdown">Φυτά</a></li>
                      <li><a href="/species/?species_category=1" class="dropdown">Αμφίβια</a></li>
                      <li><a href="/species/?species_category=5" class="dropdown">Ασπόνδυλα</a></li>
                      <li><a href="/species/?species_category=7" class="dropdown">Ερπετά</a></li>
                      <li><a href="/species/?species_category=6" class="dropdown">Θηλαστικά</a></li>
                      <li><a href="/species/?species_category=2" class="dropdown">Πτηνά</a></li>
                      <li><a href="/species/?species_category=3" class="dropdown">Ψάρια</a></li>
                  </ul>
              </dd>
            </dl>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="/info/" class="menu">{% trans "Περιγραφή" %}</a>&nbsp;&nbsp;
          <a href="/info_usage/" class="menu">{% trans "Οδηγίες χρήσης" %}</a>
    </div>

  </div>

  <div id="content">
    <div id="body">
        <div id="body_main">
            {% block content_main %}{% endblock %}
        </div>
    </div>
  </div>

  <div id="footer">
      <ul id="credits">
        {% block footer %}
            <li><a href="/poweredby/">Powered by NatureBank</a></li>
        {% endblock %}
      </ul>
  </div>

</div>

{% block basejs %}
  <script type="text/javascript">
    var STATIC_URL = "{{STATIC_URL}}";
  </script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}dropdown.js"></script>
{% endblock %}
{% block js-globals %}{% endblock %}
{% block mapjs %}{% endblock %}
{% block extrajs %}{% endblock %}
</body>
</html>
